@model FestivalCMS.Models.GetArticlesModel
    @{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/FestivalCMSLayout.cshtml";
    }

    <div id="page-wrapper">
        @Html.Partial("IndexAjax", Model)
    </div>

