@model List<FestivalCMS.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/FestivalCMSLayout.cshtml";
}

<div id="page-wrapper">
    @Html.Partial("GetAllEventsAjax", Model)
</div>

